body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
button {
    cursor: pointer;
}
.stwt {
    padding-left: 45px;
    margin-left: 30px;
    font-size:larger;
    color: rgb(255, 255, 255);
}