body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
button {
    cursor: pointer;
}
.stwt {
    padding-left: 45px;
    margin-left: 30px;
    font-size:larger;
    color: rgb(255, 255, 255);
}
.c1 {
    background: #ffffff;
    box-shadow: 20px 20px 37px #b8b8b8;
    width: 60px;
    height: 200px;
    display: inline-block;
    margin-left: 40px;
    border-radius: 17px;
}
.stli {
    width: 500px;
    margin-top: 0x;
    padding-left: 64px;
    padding-bottom: 50px;
}